<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	
		<appSettings>
			<add key="HideFields" value="1" />
			<add key="SQLServerName" value="(localdb)\mssqllocaldb" />
			<!--<add value="Lub@anzi001" key="SQLServerPassword" />
			<add key="SQLServerUser" value="QlityUser" />-->
			<!--<add name="DBConnect" providerName="System.Data.SqlClient" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=QGApi;Persist Security Info=True;User ID=QlityUser;Password=Lub@anzi001"/>-->
			<!--<add key="SQLServerName" value="(localdb)\mssqllocaldb" />
			<add key="SQLServerName" value="localhost\SQLEXPRESS" />
			<add value="1234" key="SQLServerPassword" />
			<add key="SQLServerUser" value="build" />-->
			
			
		<!--<add value="mart.zadns.co.za" key="SQLServerName" />
		<add value="Builders23!" key="SQLServerPassword" />
		<add key="SQLServerUser" value="buildersuser" />
		<add key="HideFields" value="1" />
		<add key="SMSGatewayUsername" value="adminbcc1" />
		<add key="SMSGatewayPassword" value="admin5618" />

		<add value="d:\hostingspaces\builders\buildersonline.org.za\wwwroot\logs" key="Logsfilelocation" />http://app.qlitygigs.com/-->
		
	
	<!--<add value="C:\builderwebdeploy\logs" key="Logsfilelocation" />-->
	<add value="C:\builder2\wwwroot\logs" key="Logsfilelocation" />
	

	</appSettings>

	<system.web>
		<compilation targetFramework="4.5" debug="true" />
		<customErrors mode="Off" />
		<httpRuntime maxRequestLength="1048576" executionTimeout="3600" />
	</system.web>
	<system.webServer>




<!--<rewrite>
       <rules>
           <rule name="ZADNS HTTP to HTTPS redirect" stopProcessing="true">
             <match url="(.*)" />
               <conditions>
                 <add input="{HTTPS}" pattern="off" ignoreCase="true" />
               </conditions>
             <action type="Redirect" redirectType="Found" url="https://{HTTP_HOST}/{R:1}" />
           </rule> 
       </rules>
 </rewrite>-->


		<security>
			<requestFiltering>
				<!-- This will handle requests up to 1024MB (1GB) -->
				<requestLimits maxAllowedContentLength="1048576000" />
			</requestFiltering>
		</security>
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="index.aspx" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="default.aspx" />
                <add value="_holding.html" />
                <add value="_holding.htm" />
                <add value="_holding.asp" />
            </files>
        </defaultDocument>
        <httpErrors errorMode="DetailedLocalOnly" existingResponse="Auto" />
	</system.webServer>

</configuration>